/* 
Styling for rock paper scissors
*/

/*
Alignments
*/

/* body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* options */
.options {
    display: flex;
    gap: 50px;
}
.options button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.options button:hover {
    background-color: white;
}

/* picked */
.picked {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.picked-player {
    display: flex;
    justify-content: space-between;
}

.picked-options {
    display: flex;
    justify-content: space-between;
}
